
@import 'root.css';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color) !important;
}
.login-container {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo {
    text-align: center;
    margin-bottom: 20px;
}
